<div class="card border-0" style="width: 18rem;">
    <div class="div d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C4D03AQH1FqR4ecltIw/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=gcLJGJgC5MgNmhYpT3ZQv1p0GaCwiqUerzv8BhyRnq8" alt="...">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Monique Oliveira</h5>
      <p class="card-text text-center text-monospace">Estudante da 6ª turma da Generation Brasil, acredito que tecnologia é a ponte para resolver todos os problemas.</p>
      <a href="https://www.linkedin.com/in/moniquejr-oliveira/" target="_blank" class="btn btn-outline-info mb-3 d-flex justify-content-center">LinkedIn</a>
      <a href="https://github.com/moniquejro" target="_blank" class="btn btn-outline-dark d-flex justify-content-center">GitHub</a>
    </div>
  </div>