<body class="" style="padding-right: 0px;">
    <div class="container mb-5 mt-5">
        <div class="row mb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <h1>Como está sendo sua experiência?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center">
                <h5>Tranquilo</h5>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <h5>Bom, mas com problemas</h5>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <h5>Precisa melhorar</h5>
            </div>
        </div>
        <div class="card bg-dark text-white border-0">
            <div class="row">
                <div class="col-md-4 tm bg-success d-flex justify-content-center rounded-left"></div>
                <div class="col-md-4 tm bg-warning d-flex justify-content-center rounded-left"></div>
                <div class="col-md-4 tm bg-danger d-flex justify-content-center rounded-left"></div>
            </div>
            <div class="card-img-overlay">
                <div class="row mt-5">
                    <div class="col-md-12 p-0">
                        <input type="range" name="vol" value="0" min="0" max="100" class="w-100 form-control-range ng-untouched ng-pristine ng-valid">
                        <br _ngcontent-ecw-c52>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


